$white: #fff;
$black: #000;
$gray: #f4f1f2;
$blue: #111bff;
$pink: #fe327d;
$red: #ff3f3f;

$defaultFontFamily: "Helvetica", "Arial", sans-serif;
$defaultFontSize: 14px;
$defaultBackgroundColor: $white;
$defaultTextColor: $black;
$defaultLineHeight: 1.2;
$borderRadiusSmall: 3px;
