@use "../../styles/_vars" as *;
@use "../../styles/_mixins" as *;

.button {
  padding: 10px 20px;
  color: $white;
  background-color: $blue;
  border: none;
  font-weight: bold;
  border-radius: $borderRadiusSmall;
  cursor: pointer;
  user-select: none;
  position: relative;

  &:hover {
    background-color: $pink;
  }

  &:active {
    background-color: $pink;
  }

  &.disabled {
    pointer-events: none;
    background-color: #7e83ff;
    color: #000000;
  }
  &.loading {
    @include loader($borderWidth: 3px, $size: 20px, $color: $white);

    .text {
      opacity: 0;
    }
  }
}
