@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;
@use "../../../../node_modules/include-media/dist/include-media" as *;

$breakpoint: "<=761px";

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 70px;
  padding: 25px;
  box-sizing: border-box;

  background: $white;
  overflow: hidden;

  &.open {
    width: 335px;
  }

  .burger {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 20;

    svg {
      width: 30px;
      height: 30px;
      fill: $blue;
      transition: fill 0.3s ease;

      &:hover {
        fill: $pink;
      }
    }
  }

  .menu {
    margin-top: 60px;
    display: none;
    opacity: 0;
    pointer-events: none;

    &.open {
      display: block;
      opacity: 1;
      pointer-events: auto;
    }

    .list {
      list-style: none;
      padding: 10px 20px;
      margin: 0;
      transition: opacity 0.3s ease;

      .item {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        .link {
          @include link;
        }

        .logout {
          color: $red;
        }
      }
    }
  }

  @include media($breakpoint) {
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: $white;

    &.open {
      height: 100vh;
      border-right: 1px solid $gray;
    }
  }
}
