@use "../../styles/_vars.scss" as *;
@use "../../styles/_mixins.scss" as *;
@use "../../../../node_modules/include-media/dist/include-media" as *;

$breakpoint: "<=761px";

.layout {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;

  .content {
    height: 100%;
    overflow: auto;
    flex: 1 1 100%;
    padding: 25px;
    position: relative;
  }

  @include media($breakpoint) {
    flex: 1 1 auto;
    flex-direction: column;
    .content {
      padding: 70px 25px 25px 25px;
    }
  }
}
