@use "../../styles/_vars.scss" as *;
@use "../../styles/_mixins.scss" as *;
@use "../../../../node_modules/include-media/dist/include-media" as *;

$breakpoint: "<=900px";

.layout {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;

  .content {
    height: 100%;
    overflow: auto;
    flex: 1 1 100%;
    padding: 25px;
  }
}
